<div id="infoPageBoard" 
     style="font-weight: bold;text-align: center;font-size: 36px;margin-top:5%;color:red;">
 		{{info}}
</div>
<script type="text/javascript" src='/javascripts/pageHandlers/infoPageHandler.js'></script>
<script>showImagexx("{{img}}")</script>