<div class="ftext">
    <div class='containercustom'>
        <img src="{{imloc}}" alt="Snow" style="width:100%;" id="imgcont"> <!--  ./images/cena.jpg -->
    
    <div class="centeredcustom">There is no Such Page</div>
    
    </div>

</div>