<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1>Sign Up</h1>		
		
		<form action="" method="post" id="registerform" name="registerform">  
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" class="form-control">				
			</div>

			<div class="form-group">
				<label for="email">E-mail</label>
				<input type="text" id="email" name="email" class="form-control">				
			</div>

			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" class="form-control">				
			</div>

			<div class="form-group">
				<label for="password2">Password again</label>
				<input type="password" id="password2" name="password2" class="form-control">				
			</div>

			<div class="form-group">
				<label for="shid">Shop ID (Optional)</label>
				<input type="text" id="shid" name="shid" class="form-control">				
			</div>

			<!-- <input type="hidden" name="_csrf" value="{{ csrfToken }}"> -->
			<button type="submit" class="btn btn-primary">Sign Up</button>

		</form>
<p>Already have an account ?, then why not <a href="/user/login">sign in</a> now</p>
		
	</div>
</div>
<script type="text/javascript" src="/javascripts/registerFormHandler.js"></script>
