body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, #808080,#80ff80);
  	
  
}

label{
	font-weight: bold;
}
.largeTo{
	margin-top:50px;
	/*border:2px solid black;*/
}
.largeFont{
	font-weight: bold;
	font-size:3em;
}






       #salesFlexBox{
						/*display: flex;*/
						padding-top:50px;
					}
					.ipane{
						margin:0 auto;
						/*width:33%;*/
						border:2px solid black;
						margin-bottom: 50px;
					}
					.labinelem{
						width:40%;
						text-align: right;
					}
					#iteminfo
					          {					          	
					          	margin:auto;
					          	max-width: 90%;
					          	/*border:1px solid black;*/
					          	padding-top:10px;
					          	padding-bottom:10px;
					          }

					
					.ibtn{
						width:20px;
					}
					.left-child {
					  margin-left: 0;
					  margin-right: auto;
					}
					.btn-flex{
						display: flex;
					}
					#del-btn{
						margin:auto;						
					}
					#numpad{
						
						/*display:inline-block;*/
						margin:auto;
						max-width: 70%
					}
					.nbtn{
						width: 60px;
						margin: 5px;
						text-align: center;
					}
					#cashpane1{
						/*border:2px solid black;*/
						/*margin-top:5px;*/
						/*top: 3px;
						position: absolute;
						width:100%;	
						left:0px;*/
						margin-bottom: 40px;
						margin-top:20px;
						/*border:2px solid black;*/
					}	
					#cashpane2{
						/*bottom: 3px;
						position: absolute;
						width:100%;	
						left:0px;*/					
					}	
					.headrow{
						border-style: dotted;
						border-left: none;
						border-right: none
					}	
					.bottomrow{
						border-style: dotted;
						border-left: none;
						border-right: none;
						border-bottom: none;

					}
					#pricetable{
						/*position: absolute;
						width:100%;
						left*/:0px;
					}	
					.full-line{
						/*position: absolute;
						width:100%;
						left:0px;*/
						/*margin-top:3px;
						margin-bottom: 3px;*/
					}	
					table#ptable tr{
						line-height:4px;
						/*border:3px solid yellow;*/
					}
					#summarypane{
						overflow: auto;
					}
					.colored_row{
						background-image:linear-gradient(to right,#ff9980,#8080ff);
					}







.containercustom {
  position: relative;
  text-align: center;
  color: red;
}

.centeredcustom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ftext
	{
		width:100%;
		text-align: center;
		font-weight: bold;
		font-family: "Ahorani";
		font-size:42px;
		color:white;
	}


.darkdrop{
	background-color: black;
	color:white;
}

.blink{
	font-weight:bold;
	color:black;
}