<div id="err_msg" style="color: red;
                         font-weight: bold;
                         text-align: center;
                         font-size:36px;
                         margin-top:30px;
                         ">
	
</div>
<table class="table table-bordered">
	<thead>
		<tr>
			<th><a href="javascript:sortBills('Bill_id')" class='blink'>Bill</a></th>
			<th><a href="javascript:sortBills('Datex')" class='blink'>Date</a></th>
			<th><a href="javascript:sortBills('Cashier')" class='blink'>Cashier</a></th>
			<th><a href="javascript:sortBills('total')" class='blink'>Amount</a></th>
		</tr>
	</thead>

	<tbody id="rep_tab_body">

	</tbody>
</table>
<script type="text/javascript" src="/javascripts/reportgen.js"></script>