<div id="salesFlexBox">
	<div id="billingpane" class="ipane">

	  <div id="iteminfo">
	  	 <div class="labin">
	  	 	<label class="labinelem">Item Name:</label>
	  	 	<input type='text' class="labinelem" id="itemname" />
	  	 </div>
	  	 <div class="labin">
	  	 	<label class="labinelem">Description:</label>
	  	 	<input type='text' class="labinelem" id="desc" />
	  	 </div>
	  	 <div class="labin">
	  	 	<label class="labinelem">Price:</label>
	  	 	<input type='text' class="labinelem" id="price" />
	  	 </div>
	  	 <div class="labin">
	  	 	<label class="labinelem">Quantity:</label>
	  	 	<input type='text' class="labinelem" id="qty" />
	  	 </div>
	  	 <div class="labin">
	  	 	<label class="labinelem">Scan Item:</label>
	  	 	<input type='text' class="labinelem" id="scanid" />
	  	 </div>
	  	 <button class="btn btn-danger">Delete</button>
	  </div>

	  <div id="numpad">
	  	<div>
	  		<button class="btn btn-success nbtn">1</button>
	  		<button class="btn btn-success nbtn">2</button>
	  		<button class="btn btn-success nbtn">3</button>
	  	</div>
	  	<div>
	  		<button class="btn btn-success nbtn">4</button>
	  		<button class="btn btn-success nbtn">5</button>
	  		<button class="btn btn-success nbtn">6</button>
	  	</div>
	  	<div>
	  		<button class="btn btn-success nbtn">7</button>
	  		<button class="btn btn-success nbtn">8</button>
	  		<button class="btn btn-success nbtn">9</button>
	  	</div>
	  	<div>
	  		<button class="btn btn-success nbtn">0</button>
	  		<button class="btn btn-success nbtn">ClR</button>
	  		<button class="btn btn-success nbtn">.</button>
	  	</div>
	  </div>	

	</div>


	<div id="cashpane" class="ipane">
		<div id="cashpane1">
		</div>

		<div id="cashpane2">
		</div>
	</div>

	<div id="summarypane" class="ipane">
	</div>

</div>