<div id="salesFlexBox">
	<div id="billingpane">

	  <div id="iteminfo">
	  	 <div>
	  	 	<label>Item Name:</label>
	  	 	<input type='text' id="itemname" />
	  	 </div>
	  	 <div>
	  	 	<label>Description:</label>
	  	 	<input type='text' id="desc" />
	  	 </div>
	  	 <div>
	  	 	<label>Price:</label>
	  	 	<input type='text' id="price" />
	  	 </div>
	  	 <div>
	  	 	<label>Quantity:</label>
	  	 	<input type='text' id="qty" />
	  	 </div>
	  	 <div>
	  	 	<label>Scan Item:</label>
	  	 	<input type='text' id="scanid" />
	  	 </div>
	  	 <button class="btn btn-danger">Delete</button>
	  </div>

	  <div id="numpad">
	  	<div>
	  		<button class="btn btn-primary">1</button>
	  		<button class="btn btn-primary">2</button>
	  		<button class="btn btn-primary">3</button>
	  	</div>
	  	<div>
	  		<button class="btn btn-primary">4</button>
	  		<button class="btn btn-primary">5</button>
	  		<button class="btn btn-primary">6</button>
	  	</div>
	  	<div>
	  		<button class="btn btn-primary">7</button>
	  		<button class="btn btn-primary">8</button>
	  		<button class="btn btn-primary">9</button>
	  	</div>
	  	<div>
	  		<button class="btn btn-primary">0</button>
	  		<button class="btn btn-primary">ClR</button>
	  		<button class="btn btn-primary">.</button>
	  	</div>
	  </div>	

	</div>


	<div id="cashpane">
		<div id="cashpane1">
		</div>

		<div id="cashpane2">
		</div>
	</div>

	<div id="summarypane">
	</div>

</div>