<div id="err_msg" style="color: red;font-weight: bold;text-align: center;"></div>
<table>
	<thead>
		<tr>
			<th>Bill</th>
			<th>Date</th>
			<th>Cashier</th>
			<th>Amount</th>
		</tr>
	</thead>

	<tbody id="rep_tab_body">

	</tbody>
</table>
<script type="text/javascript" src="/javascripts/reportgen.js"></script>