<div class="container-fluid">
	<div class="loading" id="loading" style="position:absolute;z-index: 1;width:100%;display:none;">
	    <img
	      src="https://raw.githubusercontent.com/CodingGarden/meower/master/client/loading.gif"
	      alt=""
	      style="margin-left:25%;"
	    />
	 </div>
<div id="salesFlexBox" class="row">
	<div id="billingpane" class="ipane col-lg-4 col-md-12 col-sm-12">

	  <div id="iteminfo">
	  	 <div class="labin">
	  	 	<label class="labinelem" >Item Name:</label>
	  	 	<input type='text' class="labinelem" id="itemname" />
	  	 </div>
	  	 <div class="labin">
	  	 	<label class="labinelem" >Description:</label>
	  	 	<input type='text' class="labinelem" id="desc" />
	  	 </div>
	  	 <div class="labin">
	  	 	<label class="labinelem" >Price:</label>
	  	 	<input type='text' class="labinelem" id="price" />
	  	 </div>
	  	 <div class="labin">
	  	 	<label class="labinelem">Quantity:</label>
	  	 	<input type='text' class="labinelem" id="qty" onfocus="assignFocus(this)" />
	  	 </div>
	  	 <div class="labin">
	  	 	<label class="labinelem">Scan Item:</label>
	  	 	<input type='text' class="labinelem" id="scanid" onfocus="assignFocus(this)" />
	  	 </div>
	  	 <div class="btn-flex">
	  	 <button class="btn btn-danger btn-sm" id="del-btn" onclick="deleteARow()">Delete</button>
	  	 </div>
	  </div>

	  <div id="numpad">
	  	<div class='btn-row'>
	  		<button class="btn btn-success nbtn" onclick="typed(this)">1</button>
	  		<button class="btn btn-success nbtn" onclick="typed(this)">2</button>
	  		<button class="btn btn-success nbtn" onclick="typed(this)">3</button>
	  	</div> 
	  	<div class='btn-row'>
	  		<button class="btn btn-success nbtn" onclick="typed(this)">4</button>
	  		<button class="btn btn-success nbtn" onclick="typed(this)">5</button>
	  		<button class="btn btn-success nbtn" onclick="typed(this)">6</button>
	  	</div>
	  	<div class='btn-row'>
	  		<button class="btn btn-success nbtn" onclick="typed(this)">7</button>
	  		<button class="btn btn-success nbtn" onclick="typed(this)">8</button>
	  		<button class="btn btn-success nbtn" onclick="typed(this)">9</button>
	  	</div>
	  	<div class='btn-row'>
	  		<button class="btn btn-success nbtn" onclick="typed(this)">0</button>
	  		<button class="btn btn-success nbtn" onclick="clearx()">CLR</button>
	  		<button class="btn btn-success nbtn" onclick="typed(this)">.</button>
	  	</div>
	  </div>	

	</div>


	<div id="cashpane" class="ipane col-lg-4 col-md-12 col-sm-12">
		<div id="cashpane1" >
			<table class="table table-striped">
				<tbody>
					<tr>
				    	<td class="text-right font-weight-bold">Subtotal:</td>
				    	<td id="subtotal_pane2">0</td>
				    </tr>
				    <tr>
				    	<td class="text-right font-weight-bold">Tax:</td>
				    	<td id="tax_pane2"></td>
				    </tr>
				    <tr>
				    	<td class="text-right font-weight-bold">Total:</td>
				    	<td id="total_pane2"></td>
				    </tr>
				</tbody>				
			</table>
		</div>

		<div id="cashpane2">
			<table class="table table-striped">
				<tbody>
					<tr>
				    	<td class="text-right font-weight-bold">Paytype:</td>
				    	<td>
				    		<select>
				    			<option>Cash</option>
				    			<option>Card</option>
				    			<option>Cheque</option>
				    		</select>
				    	</td>
				    </tr>
				    <tr>
				    	<td class="text-right font-weight-bold">Payment:</td>
				    	<td>
				    		<input type="text" 
				    		       id="pment"
				    		       onclick="assignFocus(this)"				    		       
				    		 />
				    		<br/>
				    		<button class="button btn-success btn-sm"	
				    		        onclick="computeBalance()"			    		       
				    		>
				    			Pay
				    		</button>
				        </td>
				    </tr>
				    <tr>
				    	<td class="text-right font-weight-bold">Balance:</td>
				    	<td id="paybal"></td>
				    </tr>
				</tbody>				
			</table>
		</div>
		<button class="btn btn-success" onclick="printbill()">Print Bill</button>
	</div>

	<div id="summarypane" class="ipane col-lg-4 col-md-12 col-sm-12" >
		<div class="text-center font-weight-bold mt-2 mb-2">Sales Receipt</div>
		<div class="text-center font-weight-bold mt-2 mb-2">The Grocery Store</div>
		<div class="text-center font-weight-bold mt-2 mb-2">342, Grove Street, Los Santos</div>
		<div class="text-center font-weight-bold mt-2 mb-2">7458-125-125</div>
		<hr class="full-line" />
		<div class="text-center mt-2 mb-2">
			<span id="reclabel" class="font-weight-bold">Receipt No:</span>
			<span id="rcptnum"></span>
		</div>
		<div class="text-center mt-2 mb-2">
			<span id="dtlabel" class="font-weight-bold">Date:</span>
			<span id="rcptdt"></span>
			<script>
				document.querySelector("#rcptdt").innerHTML=(new Date()).toLocaleDateString("en-GB");
			</script>
		</div>
		<div class="text-center mt-2 mb-2">
			<span id="cslabel" class="font-weight-bold">Cashier:</span>
			<span id="csnm"><input 
								  id="cashier",
								  type="text"
				            />
			</span>
		</div>

		<div id="pricetable">
			<table class="table" id="ptable">
				<thead>
					<tr class="headrow">
						<th>Item</th>
						<th>Qty</th>
						<th>Price</th>
						<th>Total</th>
					</tr>
				</thead>

				<tbody id="billing-tbody">

					<!-- <tr>
						<td>Apple</td>
						<td>34</td>
						<td>345</td>
						<td>11730</td>
					</tr>
					<tr>
						<td>Oranges</td>
						<td>34</td>
						<td>345</td>
						<td>11730</td>
					</tr> -->


					<tr class="bottomrow" id="pane3bottomrow">
						<td></td>
						<td></td>
						<td  class="text-right font-weight-bold">Subtotal:</td>
						<td  class="text-center" id="subtotal_pane3">0</td>
					</tr>
					<tr >
						<td></td>
						<td></td>
						<td  class="text-right font-weight-bold">Tax:</td>
						<td  class="text-center" id="tax_pane3">0</td>
					</tr>
					<tr >
						<td></td>
						<td></td>
						<td  class="text-right font-weight-bold">Total:</td>
						<td  class="text-center" id="total_pane3">0</td>
					</tr>
					<tr >
						<td></td>
						<td></td>
						<td  class="text-right font-weight-bold">Paid:</td>
						<td  class="text-center" id="paid_pane3">0</td>
					</tr>
					<tr >
						<td></td>
						<td></td>
						<td  class="text-right font-weight-bold">Balance:</td>
						<td  class="text-center" id="bal_pane3">0</td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>

</div>
</div>